 @font-face {
    font-family: 'Roboto-Thin';
    src: url(../../../public/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../../../public/fonts//Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../../../public/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../../../public/fonts/Roboto-Black.ttf);
}

html {
    font-family: 'Roboto-Regular' !important;
    font-size: 16px;
}

/* Title */
h1 {
    font-family: 'Roboto-Bold';
}

.title-gel{
    font-size: 48px;
    font-family: 'Roboto-Black';
}

/* Sub Title */
.title{
    font-size: 32px !important;
    font-weight: bold !important;
    font-family: 'Roboto-Bold' !important;
}

.subtitle{
    font-family: 'Roboto-Bold' !important;
    font-size: 24px !important;
    font-weight: bold !important;
}
