.table-documents {
    border-collapse: separate;
    border-spacing: 0.1px;
}

.table-documents th,
td {
    border: 2px solid white;
}

.table-documents th {
    padding: 12px 0px;
    min-width: 300px;
}

.table-documents tr:nth-child(even) {
    background: #ebebeb;
}