.nav-tabs li{
    border: 1px solid #d9d9d9;
}
.nav-tabs a {
    padding: 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.nav-tabs a:hover {
    background-color: #d9d9d9;
}

.nav-tabs .active a {
    background-color: #2277db;
    color: #fff;
}

.tab-content{
    display: none;
}

.tab-content.active {
    display: block;
}