body.is-open {
    overflow: hidden;
}

.navbar {
    display: flex;
    height: 100px;
    z-index: 1000;
    position: relative;
    font-weight: 600;
    color: white;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width:1024px) {
        justify-content: space-evenly;
    }

    @media screen and (max-width:820px) {
        justify-content: space-between;
    }
}

.topMenu {
    background: white;
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link {
    width: 100%;
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    cursor: pointer;
}

.nav-menu {
    left: 0;
    height: calc(100vh - 100px);
    transform: translate(0, -110%);
    transition: transform 0.3s ease;
    z-index: 1000;

    @media screen and (max-width:820px) {
        background: white;
        display: none;
    }
}

.submenu {
    display: block;
    border-radius: 5px;

    @media screen and (max-width:820px) {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease, opacity 0.3s ease;
    }
}

.submenu.is-open {
    max-height: 500px;
    opacity: 1;
}

.submenu li {
    padding: 5px 25px;
    background: #ebebeb;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

.submenu li:hover {
    background: #eeeeee;
    transition: all .3s ease-in-out;
}

.nav-menu.open {
    transform: translate(0, 90px);
    display: block;
    color: black;
}

.nav-menu ul {
    @media screen and (min-width:820px) {
        flex-direction: row;
        padding: unset;
    }
}

.btn-menu {
    cursor: pointer;
    font-size: 42px;
    border: none;
    display: none;

    @media screen and (max-width:820px) {
        display: block;
    }
}

.logo-container {
    width: 80px;
    height: 80px;

    @media screen and (max-width:1024px) {
        display: none;
    }

    @media screen and (max-width:820px) {
        display: block;
    }
}

@media screen and (min-width:820px) {
    .navbar {
        width: 100%;
    }

    .nav-menu {
        height: 100%;
        width: unset !important;
        position: unset !important;
        transform: unset !important;
    }

    .submenu {
        position: absolute;
        margin-top: 44px;
        background: #D9D9D9;
        color: white;
        cursor: pointer;
        overflow: unset;
        display: none;
    }

    .nav-link:hover .submenu {
        display: block;
    }

    /* .nav-link i {
        display: none;
    } */
}





.item-active a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
    transform: scaleX(0);
    transition: transform .8s;
    top: 0;
    transform-origin: left;
}


.item-active a::after {
    transform-origin: right;
}

.item-active a::before,
.item-active a::after {
    transform: scaleX(1);
}
