.table-documents {
    border-collapse: separate;
    border-spacing: 0.1px;
    width: 100%;
}

.table-documents th,
td {
    border: 2px solid white;
}

.table-documents th {
    padding: 12px 0px;
    min-width: 300px;
}

.table-documents tr:nth-child(even) {
    background: #e5e0e0;
}

.table-documents {
    border-radius: 5px;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease;
}

