.table-container {
    overflow-x: auto;
}

table {

    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 3px; 
}

tr:nth-child(odd) {
    background-color: #d9d9d9;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

th {
    background-color: #3477db;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .container{
        width: auto;
    }
    .table-container{
        overflow-x: auto;
        width: 100%;
        max-width:250px;
    }
}

@media screen and (min-width: 1024px){
    th, td {
        padding: 5px; 
    }
}

@media screen and (min-width: 1280px){
    th, td {
        padding: 10px; 
    }
}
